/* text-color */
$text-color-white: rgb(255, 255, 255);
$text-color-default: rgb(52, 71, 103);
$text-color-tango: rgb(255, 83, 64);

.drawerWrap {
  position: fixed;
  top: 0;
  width: 250px;
  height: calc(100vh - 2rem);
  margin: 1rem;
  border-radius: 0.75rem;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));

  .title {
    text-align: center;
    padding: 1.5rem 2rem 1.5rem;

    a {
      font-size: 0.875rem;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 600;
      color: $text-color-white;
      text-decoration: none;
    }
  }
}

.content {
  background: transparent;
  color: $text-color-default;
  box-shadow: none;
  padding: 1rem;
  position: relative;
  margin-left: 16.7rem;

  header {
    position: sticky;
    top: 1rem;
    z-index: 100;
    min-height: 3.25rem;
    color: $text-color-default;
    padding: 0.15rem 1.2rem;
    border-radius: 0.75rem;
    background-color: #38383e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;

    .location {
      display: flex;
      flex-wrap: wrap;

      li {
        font-size: 0.8rem;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        color: $text-color-white;
        letter-spacing: 0.02857em;

        &.separator {
          margin: 0 0.2rem;
        }

        &:last-child {
          color: $text-color-tango;
        }
      }
    }
  }
}
