.drawerWrap {
  position: fixed;
  top: 0;
  width: 250px;
  height: calc(100vh - 2rem);
  margin: 1rem;
  border-radius: 0.75rem;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
}

.drawerWrap .title {
  text-align: center;
  padding: 1.5rem 2rem 1.5rem;
}

.drawerWrap .title a {
  font-size: 0.875rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255);
  text-decoration: none;
}

.content {
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  padding: 1rem;
  position: relative;
  margin-left: 16.7rem;
}

.content header {
  position: sticky;
  top: 1rem;
  z-index: 100;
  min-height: 3.25rem;
  color: rgb(52, 71, 103);
  padding: 0.15rem 1.2rem;
  border-radius: 0.75rem;
  background-color: #38383e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.location {
  display: flex;
  flex-wrap: wrap;
}

.location li {
  font-size: 0.8rem;
  color: rgba(255, 255, 255);
}

.location li:last-child {
  color: rgb(255, 83, 64);
}

.location .separator {
  margin: 0 0.2rem;
}
